// Fonts
$font-main: 'Manrope', sans-serif;

// Colors
$color-primary: #00ff66;
$color-link: #3b82f6;
$color-error: #ef4444;

$color-dark-50: #1a1a1a;
$color-dark-100: #111111;
$color-dark-75: rgba(20, 20, 20, 100);
$color-dark-200: rgba(36, 36, 36, 100);

$color-light-100: #f9fafb;
$color-light-200: #e0e0e0;
$color-light-300: #d1d5db;
$color-light-400: #9ca3af;
